<!-- File name: about
Student’s Name: Simarpreet Kaur Kang
StudentID: 301279280
Date: 9 June 2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <hr><center><img src="./img/My photo.jpg" border="5" height= "300" width="225"><br></center>
    <br>
    Link to my resume:
      <a href="https://docs.google.com/document/d/1v_YgjuFc4QfsKqR9DuSfYpqkhrRlRqidQWEgqMhvOPM/edit?usp=sharing"> Resume</a>
    <hr>
      <p>My name is Simarpreet Kaur Kang. I am an international student enrolled in Software Engineering Technology program in <em>Centennial College 
      (Progress campus)</em>. My high school was Delhi Public School. I had a really great time in the school and having 
      a splendid experience at Centennial so far. Being a science student interested in softwares and programming, 
      it feels fantastic going through something I really wanted to happen.</p></blockquote>
      
      
      <font size="2">(Link to my college's website is: <a href="https://www.centennialcollege.ca/">Centennial College, Scarborough</a>)</font>
      
      <hr>
    <h3><b>Why I chose Centennial College: </b></h3>
    <p>Firstly, the location of the college is easily accessible. Availability of public transportation, 
    accommodation and day-to-day necessities comes in handy with numerous available options in Toronto, 
    which makes life of an international student easier in a new country. Centennial college is one of the 
    well-recognised institutions and this is another reason for which I chose it.</p>
    <p>Moreover, the college provides a lot of extra curricular activities, real-life experiences and projects during the program related to the syllabus.
    This would boost my knowledge while adding hands-on experience.</p>
    <center><img src="https://www.iabcanada.com/content/uploads/2016/12/CentennialCollege_Logo_408x232-e1492626885829.png"></center>
    <hr>
    <h3><b>Why I chose advanced diploma in Software Engineering Technology: </b></h3>
    <p>Information Technology industry is growing spontaneously nowadays and I have always been a tech enthusiast. 
    The program that I have chosen includes designing, developing and maintaining software systems. 
    I want to become a software engineer and this course provides exactly what the job requires. 
    It will help me build my career in the field of my choice. </p>
    <center><img src="./img/engineering.png" height="100" width="100"></center>
    <hr>
    <h3><b>My ambitions in life are: </b></h3>
    Most important ambition of mine in life is to spend time with family while still giving time to my personal growth.
    I have always imagined myself to be efficient in my job whilst enjoying the most of it.<br>
    My mother is role model for me and I want to be like her. She has always been cheerful despite what goes on in her professional
    or personal life. She has been positive and forward looking person. Everything about her and how she handles most of difficult 
    situations inspires me to be like her.<br>
    <p>I'm always looking for new opportunities that test me so that I constantly give the best outputs possible.</p>
    <center><img src="./img/concentration.png" height="100" width="100"></center>
    <hr>
          <h4><i>My favourite activities are:</i></h4>
          <ul type="square">
            <li>Reading books</li>
            <li>Playing badminton</li>
            <li>Listening music</li>
            <li>Writing personal journal</li>
            <li>Travelling &amp; Learning about new cultures</li>
            <li>Dancing</li>
            <li>Going to libraries around my house</li>
          </ul>
          <img src="./img/book.png" height="75" width="75" align="middle">
          <img src="./img/badminton.png" height="75" width="75">
          <img src="./img/dancer.png" height="75" width="75" align="middle">
          <img src="./img/airplane.png" height="75" width="75">
          <br><br><br>
          <br>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   