<!-- File name: index
Student’s Name: Simarpreet Kaur Kang
StudentID: 301279280
Date: 9 June 2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h2 class="display-4">Welcome to <%= title %> page</h2>
    
    </div>
    <hr>
    <h3><b>Welcome statement: </b></h3>
    <p>Welcome to the website! I have created this website so 
      that you can better know who I am, my interests, achievements and skills. 
      Navigate this website through above given navigation bar.</p>
    
    
    <h3><b>Mission statement: </b></h3>
    <em>"To pursue lifelong learning and inspire others to do the same."</em>
    <br>
      
    
    
    </main>
    <!--bottom nav-->
    
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   